.CalendarListDay {
    border-bottom: 1px solid rgba(166, 168, 179, 0.12);
    text-align: right;
    padding: 14px 20px;
    letter-spacing: 1px;
    font-size: 12px;
    box-sizing: border-box;
    color: #98a0a6;
    position: relative;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
}
.CalendarListDay:hover {
    background: #f5f5f5;
}